APP_DOMAIN=painel.axiumsistemas.com
API_DOMAIN=api.axiumsistemas.com
ACME_EMAIL=contato@axiumsistemas.com

POSTGRES_DB=seguranca_comunitaria
POSTGRES_USER=seguranca
POSTGRES_PASSWORD=troque-esta-senha
